@font-face {
    font-family: Montserrat;
    font-weight: 200;
    src: url(/@app/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url(/@app/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(/@app/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url(/@app/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 900;
    src: url(/@app/fonts/Montserrat/Montserrat-Black.ttf);
}