@import "/@app/css/font.css";

body{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0;
}

table {
    border-collapse: collapse; 
    border: 1px solid;
    min-width: 500px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

th {
    font-weight: 600;
}

th, td {
    border: 1px solid;
    padding: 4px 6px;
}

.error {
    font-weight: lighter;
}

nav {
    font-size: 18px;
    margin: 20px 10px;
}

nav > a:after {
    content: '/';
    margin: 0 2px;  
}

table.theme1 {
    border-width: 0;
    border-bottom: 2px solid #6c7ae0;
}

table.theme1 th, table.theme1 td {
    border-width: 0;
}

table.theme1 tr:first-child{ 
    background-color: #6c7ae0;
}

table.theme1 th {
    font-weight: 400;
    text-align: left;
    padding: 12px 6px;
    color: #fff;
}

table.theme1 td {
    background-color: #fafafa;
    padding: 8px 6px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.path-name {
    outline: none;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #000;
}

.path-name.--hidden {
    opacity: .4;
}

.path-name:focus {
    border: 1px dashed #000;
}

.path-name:active {
    border: 1px dotted #000;
}

b {
    font-weight: 600;
}
/* .path-name:visited {
    color: #3b3b3b;
} */

/* 404 Style */
.error-page {
    background-color: #fafafa;
    height: 100vh;
    text-align: center;
    color: #555;
}

.error-page h2 {
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #b22;
}

.error-page p {
    font-size: 18px;
    margin: 0;
    color: #b22;
}

.error-page article {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.error-page button {
    background-color: #6c7ae0;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    min-width: 120px;
    margin: 30px 10px 0;
    cursor: pointer;
    border-radius: 2px;
}

.error-page .excla {
    font-size: 80px;
    color: #b22;
    font-weight: 600;
}
/* 404 Style End */