.app-icon-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--list-item-height);
  width: 20px;
  display: inline-block;
  line-height: var(--list-item-height);
  text-align: center;
  margin-left: -19px;
}

.app-svg {
  display: inline-block;
  vertical-align: text-bottom;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.--svg-folder {
  width: 17px;
}

.--common {
    width: 20px;
}

.--unknown {
    width: 24px;
    margin-left: -2px;
}

.--svg-js {
    color: #F1DD3F
}

.--svg-css {
    color: #529BBA
}

.--svg-html{
    color: #EF7623
}

.--svg-image{
    color: #9F74B3;
}

.--svg-json{
  color: #DBCD68
}

.--svg-fonts{
  color: #cc3e44;
  width: 22px;
  margin-left: -2px;
}

.--svg-svg{
  color: #a074c4;
  width: 22px;
}

.--svg-markdown{
  color: #529BBA
}

.--svg-npmignore{
  color: #CD3F45;
  width: 23px;
}

.--svg-gitignore{
  color: #dd4c35;
  width: 18px;
}

.--svg-config {
  width: 21px;
  color: #41535B
}

.--svg-yarn {
  color: #519aba;
}

.--svg-webpack {
  color: #519aba;
  width: 22px;
}

.--svg-vue {
  width: 15px;
}